Welcome to Collaborative Cursing!
\
Time to start insulting people, together.
\
But first...are you a real, living and breathing insult artist? We don't want no stinkin' robots or spammers here!
\
Verify your human self:
\
http://www.collaborativecursing.com/user/verify/#{@user.id}/#{@user.verification}
\
Now come insult us!
\
\- rhv
http://redhotvengeance.com
http://twitter.com/redhotvengeance
