!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", :'http-equiv' => "Content-Type"}
  %body
    %h1 Welcome to Collaborative Cursing!
    %h2 Time to start insulting people, together.
    %p But first...are you a real, living and breathing insult artist? We don't want no stinkin' robots or spammers here!
    %p Verify your human self:

    %a{:href => "http://localhost:3000/user/verify/#{@user.id}/#{@user.verification}"} http://localhost:3000/user/verify/#{@user.id}/#{@user.verification}

    %p Now come insult us!

    %h3 - rhv
    %a{:href => "http://redhotvengeance.com"} http://redhotvengeance.com
    %br
    %a{:href => "http://twitter.com/redhotvengeance"} @redhotvengeance
