%head
  %title Collaborative Cursing
  %link{:href => 'http://fonts.googleapis.com/css?family=Arvo:400,400italic,700|Alegreya+SC', :rel => 'stylesheet', :type => 'text/css'}
  = stylesheet_link_tag :application, :media => "all"
  %link{:href => "/favicon.png", :rel => "icon"}
  %link{:href => "/favicon.png", :rel => "shortcut icon"}
  %link{:rel => 'canonical', :href => 'http://www.collaborativecursing.com'}
  = javascript_include_tag :application
  = csrf_meta_tags
  %meta{:name => 'title', :content => 'Collaborative Cursing'}
  %meta{:property => 'og:title', :content => 'Collaborative Cursing'}
  %meta{:name => 'description', :content => 'The crowdsourced engine of world-class insults.'}
  %meta{:property => 'og:description', :content => 'The crowdsourced engine of world-class insults.'}
  %meta{:property => 'og:site_name', :content => 'Collaborative Cursing'}
  %meta{:property => 'og:type', :content => 'website'}
  %meta{:property => 'og:url', :content => 'http://www.collaborativecursing.com'}
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
  %meta{:name => 'google-site-verification', :content => 'EnZMF79AQwIvUzYag7fAecMEbcKIiGECbxXRIU0lXpE'}
